* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  background-color: rgb(186, 41, 41);
  border: 1px solid red;
  /* width: 50px;
    height: 100px; */
}

.container {
  width: 100%;
  display: grid;
  height: 600px;
  /* grid-template-columns: 100px 100px 100px 100px 100px 100px; */
  /* grid-template-rows: 100px 100px 100px 100px 100px 100px; */
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template-columns: 4fr 2fr 2fr; */
  /* grid-template-columns: repeat(2, 100px); */
  /* grid-template-columns: minmax(400px, 3fr) 1fr; */
  /* grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(2,100px);
    justify-content: space-between;
    align-items: center; */
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
