* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #ddd;
}

.dark {
  background: #333;
  color: #fff;
}

#navbar {
  padding: 24px 0;
  /* display: flex; */
  justify-content: center;
  gap: 8px;
}

#navbar p {
  padding: 12px;
  border-radius: 12px;
  transition: all 0.5s;
  transform: scale(1);
  cursor: pointer;
}

#navbar p:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}

#navbar p:active {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(255, 0, 0);
    transform: scale(0.9);
}


.link{
    scale: 2;
}