/* .btn-1-red , .btn-1-green , .btn-1-black{

}

button[class^=btn-1]{
    text-transform: uppercase;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: calc(200px - 100px);
}

h1 {
  color: white;
}

.main-navbar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  background-color: #9b7751;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav-items {
  display: flex;
  gap: 40px;
}
.nav-items li a {
  color: white;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}
.nav-items li a:hover {
  color: antiquewhite;
  border-bottom: 1px solid white;
}
.bxs-dog {
  cursor: pointer;
  font-size: 2em;
}
.sec-navbar {
  position: relative;
  top: 100px;
}
.sec-navbar ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: beige;
  padding: 2% 0;
}
.sec-navbar p {
  text-transform: uppercase;
}
.Hero-section {
  position: relative;
}
.Hero-section img {
  width: 100%;
  height: 100vh;
}

.Hero-section-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  right: 31%;
}

.Hero-section-items p {
  font-size: 3em;
  color: #ddd;
  font-weight: bolder;
  text-shadow: -2px 3px 0px #9b7751;
}

.Hero-section-items button {
  border: 1px solid white;
  margin-top: 4%;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  padding: 2% 4%;
  cursor: pointer;
  transition: all 0.5s;
}

.Hero-section-items button:hover {
  background-color: #9b7751;
  border: 1px solid transparent;
}

section.card-items {
  display: flex;
  margin-top: 5%;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-items div {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 200px;
}
.card-items div img {
  width: 100%;
}
.card-items div button {
  display: flex;
  width: fit-content;
  justify-self: end;
}
