main {
  display: flex;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% auto;
  gap: 10px;
  background-color: #1b1f1b;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  border: solid #00ff00 1px;
}

/* Login process */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.login-container h2 {
  margin-top: 20px !important;
}

form input {
  margin-top: 30px;
  padding: 5% 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.423);
  color: white;
  background-color: transparent;
  font-family: Impact;
  transition: all 0.5s;
}

form input:hover {
  transform: scale(1.01);
  border: 1px solid rgb(255, 255, 255);
}

form button {
  padding: 4% 0;
  margin: 10px 20px;
  margin-top: 40px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 1em;
  font-family: Impact;
  background-color: #2c2c2c;
  transition: all 0.5s;
  cursor: pointer;
}

form button:hover {
  color: white;
  text-shadow: black 1px 2px 2px;
  background-color: #00ff00;
}
form button:focus {
  transform: scale(0.96);
  color: white;
  background-color: #2c2c2c;
}
.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
.success {
  color: green;
  font-size: 0.9rem;
  text-align: center;
}
