*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* .test_btn{
    margin: 5%;
    border: blue solid 2px;
    padding: 1% 2%;
    border-radius: 10px;
    background-color: transparent;
    color: blue;
    cursor: pointer;
    transition: all .5s;
    position: relative;

    &:hover{
        color: white;
        background-color: blue;
    }
    &:focus{
        color: white;
        border: Red solid 2px;
        background-color: red;
    }
    &::after{
    content: "";
    display: block;
    position: absolute;
    background-color: black;
    width: 30px;
    height: 30px;
    }
} */

/* .test_btn:hover{
    color: white;
    background-color: blue;
}

.test_btn:focus{
    color: white;
    border: Red solid 2px;
    background-color: red;
} */